# Lines starting with '#' are considered comments.

# Ignore objects and archives.
*.[oa]

# ignore qtcreator user settings

rootkit.creator.user

sysmap.h

.mod.*
.mod.ko

mod.mod.c
mod.ko

modules.order

Module.symvers

.tmp_versions