# Lines starting with '#' are considered comments.

# Ignore objects and archives.
*.[oa]

# ignore qtcreator user settings

rootkit.creator.user

sysmap.h
sysmap.c

mod.*
*.ko
.*.cmd
*.mod.c

mod.mod.c
mod.ko

modules.order

Module.symvers

.tmp_versions

rootkit_*
testprogramm
